.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.conteinerList{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: scroll;
  overflow-y: hidden;
  height: auto;
  margin: 10px;
}
.list_cards {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  margin-right: auto;
}

.card {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  border-radius: 10px;
  height: 295px;
  width: 190px;
  align-items: center;
  margin: 5px;
}

.image {
  border-radius: 10px;
}

.h6 {
  width: 96%;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.5);
  margin-top: -25px;
  z-index: 1;
  color:'white';
}

@media screen and (max-width: 600px) {
  .card {
    height: 260px;
    width: 163px;
  }
}

@media screen and (min-width: 600px) {
  .card {
    transform: scale(0.95);
    transition: 0.3s;
  }

  .card:hover,.card:focus{
    transform: scale(1.0);
    transition: 0.3s;
    border: solid 2px yellow;
    }
  .image:target,  .image:active      {
    border: solid 2px yellow;
  }
  
}
