.conteiner{
   display: flex;
   flex-wrap: nowrap;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
   width: 100vw;
   min-height: 100vh;
   height: auto;
   background-color: var(--cor-02);
}
.list_cards{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    padding: 5px;
}
.card{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    margin: 5px;
    background-color: var(--cor-01);
    border-radius: 5px;
    height: 310px;
    width: 193px;
    justify-content: flex-start;
    align-items: center;
    
}
.image{
    border-radius: 10px;
    padding: 4px;
}

.h6{
    width: 96%;
    text-align: center;
    background-color: rgba(255,255,255,.8);
    margin-top: -10px;
    z-index: 1;
}
.category{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

