.container{
    width:100%;
}
.background{
    width:100%;
    object-fit:fill;
    background-size: cover;
    background-position: 50% 15%;
    margin-bottom: -10vh;
    margin-top: -51px;
}
.Vertical{
    width: inherit;
    height: inherit;
    background: linear-gradient(to top, var(--cor-02) 10%, transparent 90%);
}
.horizontal{
    width: inherit;
    height: inherit;
    background: linear-gradient(to right, var(--cor-02) 0%, transparent 0%);
}

@media screen and (max-width: 600px) {
    .background{
        height: 60vh;
    }
  }
@media screen and (min-width: 600px) {
    .background{
        height: 70vh;
    }
  }