.background{
    height: 80vh;
    width:100vw;
    object-fit:fill;
    background-size: cover;
    background-position: 50% 15%;
    margin-bottom: -5vh;
    margin-top: -51px;
}

.Vertical{
    width: inherit;
    height: inherit;
    background: linear-gradient(to top, var(--cor-02) 10%, transparent 90%);
}
.horizontal{
    width: inherit;
    height: inherit;
    background: linear-gradient(to right, var(--cor-02) 0%, transparent 0%);
}